@model IndexModel

<div class="col-3">
    <h3>Kategoriler</h3>
    <div class="list-group">
        @if (ViewBag.ActiveCategoryName == "Tümü")
        {
            <a href="/" class="list-group-item list-group-item-action active">Tümü</a>
        }
        else
        {
            <a href="/" class="list-group-item list-group-item-action">Tümü</a>
        }

        @foreach (var item in Model.CategoryList)
        {
            if (item.CategoryName == ViewBag.ActiveCategoryName)
            {
                <a href="/Home/Index/@item.CategoryId" class="list-group-item list-group-item-action active">@item.CategoryName</a>
            }
            else
            {
                <a href="/Home/Index/@item.CategoryId" class="list-group-item list-group-item-action">@item.CategoryName</a>
            }

        }
    </div>
    <hr />
    <a href="/Product/New" class="btn btn-outline-warning"> YeniÜrün Ekle</a>
</div>
<div class="col-9">
    @*               <h3>@Model.TitleOfProductList</h3> *@
    <h3>@ViewBag.Tugce</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Adı</th>
                <th scope="col">Fiyat</th>
                <th scope="col">Stok</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductList)
            {
                <tr>
                    <th scope="row">@item.ProductId</th>
                    <td>
                        <a href="/Product/Details/@item.ProductId">  @item.ProductName</a>

                    </td>
                    <td>@item.UnitPrice</td>
                    <td>@item.UnitsInStock</td>
                    <td><a href="/Product/Edit/@item.ProductId" class="btn btn-outline-primary">Düzenle</a></td>
                    <td><a href="/Product/Delete/@item.ProductId" class=" btn btn bg-warning">Sil</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>